name: Release

on:
  push:
    branches: [ main ]

env:
  HEY_JARVIS_ELEVENLABS_AGENT_ID: ${{ secrets.HEY_JARVIS_ELEVENLABS_AGENT_ID }}
  HEY_JARVIS_ELEVENLABS_API_KEY: ${{ secrets.HEY_JARVIS_ELEVENLABS_API_KEY }}
  HEY_JARVIS_ELEVENLABS_VOICE_ID: ${{ secrets.HEY_JARVIS_ELEVENLABS_VOICE_ID }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      version: ${{ steps.release.outputs.version }}
    steps:
      - name: Release using "Release Please"
        id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
          target-branch: main

  deploy:
    runs-on: ubuntu-latest
    if: ${{ needs.release.outputs.release_created }}
    needs: 
      - release
    permissions:
      contents: write
      packages: write

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Set lowercase repository owner
        run: echo "REPO_OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy in dev container
        uses: devcontainers/ci@v0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
          REGISTRY: ghcr.io
          IMAGE_OWNER: ${{ env.REPO_OWNER_LC }}
        with:
          imageName: ghcr.io/${{ env.REPO_OWNER_LC }}/devcontainer
          cacheFrom: ghcr.io/${{ env.REPO_OWNER_LC }}/devcontainer
          push: always
          runCmd: nx affected --target=deploy --exclude=home-assistant-voice-firmware
          env: |
            GITHUB_TOKEN
            GITHUB_ACTOR
            REGISTRY
            IMAGE_OWNER
